body {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(36, 34, 34);
  height: 100%;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
/*header styles*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  margin-right: 82px;
}
.header_item:last-child {
  margin-right: 0;
}
.header_link {
  color: white;
  line-height: 24px;
  font-size: 24px;
  text-decoration: none;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}
/*header finish*/
.main {
  min-height: 700px;
  height: 100vh;
}
/*intro style*/
.intro {
  height: 100%;
  background: url(./img/intro-bagro.jpg) no-repeat center;
  background-size: cover;
  padding-top: 265px;
}
.info_title {
  margin-bottom: 22px;
  min-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
.intro_subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}
.search_form .search-form_wrap {
  display: flex;
  flex-wrap: wrap;
  border: none;
  align-items: baseline;
}
.search-form_field {
  width: 297px;
  background: transparent url(./img/Oval.svg) no-repeat left center;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #ffffff;
  margin: 40px 40px 40px 0;
  padding: 12px 10px 12px 43px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.search-form_field:focus {
  outline: none;
}
.search-form_field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.search-form_submit {
  height: 30px;
  padding: 5px 10px;
  text-transform: uppercase;
  background: #67647e;
  border: 0;
  color: white;
}
.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
  background: #0d054e;
}
/*intro finish*/
